RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ backup.php?$1 [L,QSA]

# Error document for unauthorized access
ErrorDocument 401 /public/404.public.php

# Prevent directory listing
Options -Indexes

# Add more security headers (optional)
Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Frame-Options "SAMEORIGIN"